.App {
  color: white;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: calc(85vh - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 5px;
}

.navbar {
  background-color: #282c34;
  text-size-adjust: 100%;
  color-scheme: dark;
  font-size: 16px;
  line-height: 1.5;
  justify-content: space-between;
  letter-spacing: 0px;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 48px;
  width: 100vw;
}

.textfield {
  float: right;
  border-top: 1px solid #535861;
  background-color: #282c34;
  padding: 10px;
  min-width: calc(100vw - 20px);
  max-width: calc(100vw - 20px);
  z-index: 1;
  display: flex;
  bottom: 0px;
  align-items: center;
  position: fixed;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #282c34;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 5px;
}